.Container {
  width: 100vw;
  .Contents {
    width: 1080px;
    // background-color: lightgrey;
    background-image: url("photo2.jpg");
    margin: auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .TitleArea {
      height: 80px;
      width: 800px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .photoTitle {
        font-size: x-large;
        margin: 8px;
        background-color: white;
      }
      .photoBy {
        margin: 8px;
        background-color: white;
      }
    }
    .ImageArea {
      height: 600px;
      width: 800px;
      background-color: white;
      margin: 8px;
    }
    .InfoArea {
      height: 160px;
      width: 800px;
      background-color: white;
      display: flex;
      justify-content: space-between;
      .Info {
        width: 96px;
        text-align: center;
        padding: 8px;
      }
      .Exif {
        width: 704px;
        padding: 8px;
      }
    }
  }



  .Communication {
    height: 1080px;
    width: 1080px;
    margin: auto;
    background-color: lightgray;
    display: flex;
    .LeftContent {
      width: 680px;
      background-color: lightblue;
      .LeftTitle {
        margin: 24px;
        .Comment {
          width: 632px;
          height: 160px;
          background-color: white;
          margin: 24px auto;
          display: flex;
          justify-content: space-between;
          padding: 8px;
          .UserPhoto {
            height: 72px;
            width: 72px;
            background-color: lightcoral;
          }
          .CommentZone {
            width: 536px;
          }
        }
      }
    }
    .RightContent {
      width: 400px;
      background-color: lavenderblush;
      .RightTitle {
        margin: 24px;
        .UserInfomation {
          background-color: white;
          padding: 8px;
          margin-top: 24px;
          .PhotoAndName {
            display: flex;
            justify-content: space-between;
            .UserPhoto {
              height: 72px;
              width: 72px;
              background-color: lightcoral;
            }
            .UserName {
              width: 256px;
            }
          }
          .Profile {
            margin-top: 8px;
          }
        }
      }
    }
  }
}