.Header {
  width: 100vw;
  &__wrap{
    &--logo {
      display: flex;
      .Greeting {
        color: #2e9dec;
        font-size: small;
        text-align: center;
        margin: auto 24px;
      }
    }
    &--menu {
      width: 100%;
      color: white;
      background-color: #262626;
      .BlueLine {
        height: 4px;
        background-color: #2e9dec;
      }
      .Navigation {
        display: flex;
        justify-content: space-between;
        .LeftNav {
          padding: 8px;
          .SearchInput {
            font-size: 95%;
            line-height: 120%;
            color: #fff;
            background: #4e4e4e;
            padding: 5px 10px;
            border: none;
            border-radius: 20px;
            outline: none;
            width: 250px;
          }
          .SearchButton {
            color: white;
            padding: 1px 16px;
            border: 1px #2e9dec solid;
            background-color: #2e9dec;
            border-radius: 5px;
            cursor: pointer;
          }
        }
        .RightNav{
          display: flex;
          .UserName {
            padding: 8px;
          }
          .HeaderButton {
            text-align: center;
            text-decoration: none;
            outline: none;
            color: white;
            .TextDecoNoneWhite {
              display: block;
              height: 100%;
              width: 100%;
              color: white;
              text-decoration: none;
              padding: 8px;
            }
          }
          .HeaderButton:hover {
            background-color: #2e9dec;
          }
          .HeaderButton::before,
          .HeaderButton::after {
            position: absolute;
            z-index: -1;
            display: block;
            content: '';
          }
          .HeaderButton,
          .HeaderButton::before,
          .HeaderButton::after {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-transition: all .3s;
            transition: all .3s;
          }
        }
      }
    }
  }
}