.Footer {
  position: relative;
  .ToTop {
    position: absolute;
    top: -32px;
    right: 0;
    width: 100%;
    text-align: right;
    .ToTop__Btn {
      height: 32px;
      display: inline-block;
      background-color: #2e9dec;
      padding: 4px 8px;
      margin-right: 24px;
      color: #fff;
      cursor: pointer;
    }
    .BlueLine {
      height: 4px;
      background-color: #2e9dec;
    }
  }
  .FooterLogo {
    width: 100vw;
    text-align: right;
    background-color: #262626;
    .MiniLogo {
      display: inline-block;
      margin: 24px;
      cursor: pointer;
    }
  }
  .Copyright {
    color: #eee;
    background-color: black;
    font-size: xx-small;
    padding: 8px;
  }
}