.AboutPage
  .AboutPage--Logo
    = image_tag src="logo.png"
  .AboutPage--About
    .AboutPage--About__Title
      %h1 Q.カメコミュってどんなサイト？
    .AboutPage--About__Description
      %p 私自身がカメラが好きということから構想がスタートしました。
      %p ケータイやスマホではなくカメラ（一眼レフやミラーレスカメラなど）で写真を撮る、
      %span "インスタグラムユーザーよりもコアなカメラ好き"
      が使いたくなるサイトを目指しています。
  .AboutPage--HowTo
    .AboutPage--HowTo__Title
      %h1 Q.どんなことができるの？
    .AboutPage--HowTo__Description
      %ul
        %li ・写真の投稿
        %li ・ユーザーごとにギャラリーを作成
        %li ・ユーザー間のコミュニケーション（コメント機能、いいね機能）
  .AboutPage--Tech
    .AboutPage--Tech__Title
      %h1 Q.開発環境は？
    .AboutPage--Tech__Description
      %ul
        %li ・Haml & Scss
        %li ・Ruby & Ruby on Rails
        %li ・jQuery
        %li ・MySQL
        %li
          ・Github
          = link_to 'https://github.com/yuktnk/my_first_app' do
            （Githubページへ移動）
        %li ・AWS(EC2,S3)
        %li ・Visual Studio Code