.AboutPage
  .AboutPage--Logo
    = image_tag src="logo.png"
    #AboutClose
      = icon('far', 'times-circle')
  .AboutPage--About
    .AboutPage--About__Title
      %h1 Q.カメコミュってどんなサイト...？
    .AboutPage--About__Description
      %p 私自身がカメラが好きということもあり「インスタグラムは気軽でいいけど、
      %p パソコンの大画面で綺麗に表示される投稿サイトないかな」と思ったことがきっかけで、
      %p アプリの構想がスタートしました。
      %p ケータイやスマホではなくカメラ（一眼レフやミラーレスカメラなど）で写真を撮る、
      %span "コアなカメラ好き"
      が使いたくなるサイトを目指しています。
  .AboutPage--HowTo
    .AboutPage--HowTo__Title
      %h1 Q.どんなことができるの...？
    .AboutPage--HowTo__Description
      %ul
        %li ・撮影情報と共に写真の投稿
        %li ・投稿するだけで自分のフォトギャラリーを自動作成（ユーザーページ）
        %li ・他のユーザーのフォトギャラリーを閲覧
        %li ・ユーザー間のコミュニケーション（コメント機能、いいね機能）
  .AboutPage--Tech
    .AboutPage--Tech__Title
      %h1 Q.開発環境は...？
    .AboutPage--Tech__Description
      %ul
        %li ・Haml & Scss
        %li ・Ruby & Ruby on Rails
        %li ・jQuery
        %li ・MySQL
        %li
          ・Github
          = link_to 'https://github.com/yuktnk/my_first_app' do
            （Githubページへ移動）
        %li ・AWS(EC2,S3)
        %li ・Visual Studio Code