.Footer
  .ToTop
    .ToTop__Btn
      ▲ PAGE TOP
    .BlueLine
  .FooterLogo
    .MiniLogo
      = link_to '/' do
        = image_tag src="whitelogo.png"
  .Copyright
    Copyright (c) TNK company Inc. All Rights Reserved.
