.Container
  .Contents
    .TitleArea
      .photoTitle Title: エレモフィラ・ニベア
      .photoBy Photo by: たなか
    .ImageArea
      = image_tag src="photo2.jpg", size: "800x600"
    .InfoArea
      .Info 撮影情報
      .Exif 埼玉県さいたま市さいたま新都心駅付近にて撮影。品種名のニベアには、雪のように白いという意味があります。 また「ホワイトツリー」という別名もあり、葉も茎も綺麗なシルバーカラーです。

  .Communication
    .LeftContent
      .LeftTitle
        コメント一覧
        %ul
          %li.Comment
            .UserPhoto
              写真
            .CommentZone
              .UserName
              たなか
              .TemplateComment
              コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント
          %li.Comment
            .UserPhoto
              写真
            .CommentZone
              .UserName
              たなか さん
              .TemplateComment
              コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント

    .RightContent
      .RightTitle
        撮影者情報
        .UserInfomation
          .PhotoAndName
            .UserPhoto
              写真
            .UserName
              たなか
          .Profile
            プロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィールプロフィール