@import "reset";
@import "modules/posts";
@import "modules/show";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/user";
@import "modules/flash";
@import "modules/form";
@import "modules/start";
@import "modules/header";
@import "modules/footer";
@import "modules/about";

a {
  text-decoration: none;
}
body {
  letter-spacing: 0.1rem;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
} 